#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  font-size: 60px;
  text-align: center;
}

.terminal{
  width: 900px;
  height: 500px;
  border: 1px solid #ffffff;
}

.terminal-div{
  display: flex;
  justify-content: center;
}